<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="language" content="English">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="Main page of TYA's Portfolio.">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>TYA</title>

    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body class="minimal">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>

    <header>
        <nav class="navbar  navbar-fixed-top navbar-inverse">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li class="language-switch">
                            <a href="#" class="current-lang">
                                <span>🇬🇧</span>
                                <span>EN</span>
                            </a>
                            <ul class="lang-dropdown">
                                <li>
                                    <a href="{{ url_for('html_page', lang='en', page_name='index.html') }}" class="en active">
                                        <span>🇬🇧</span>
                                        <span>English</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('html_page', lang='fr', page_name='index.html') }}" class="fr">
                                        <span>🇫🇷</span>
                                        <span>French</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('html_page', lang=session.get('current_language', 'en'), page_name='index.html') }}" title="">01 : Home</a></li>
                        <li><a href="{{ url_for('html_page', lang=session.get('current_language', 'en'), page_name='works.html') }}" title="">02 : Works</a></li>
                        <li><a href="{{ url_for('html_page', lang=session.get('current_language', 'en'), page_name='about.html') }}" title="">03 : About me</a></li>
                        <li><a href="{{ url_for('html_page', lang=session.get('current_language', 'en'), page_name='contact.html') }}" title="">04 : Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="hero-full-container background-image-container white-text-container" style="background-image: url('{{ url_for('static', filename='assets/images/space.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero-full-wrapper">
                        <div class="text-content">
                            <h1>Hello,<br>
                                <span id="typed-strings">
                                    <span>I'm Taha Yasser Adnan</span>
                                    <span>Python Learner</span>
                                    <span>Currently on ZTM course</span>
                                </span>
                                <span id="typed"></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    document.addEventListener("DOMContentLoaded", function(event) {
        type();
        movingBackgroundImage();
    });
    </script>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>