<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="About Taha Yasser Adnan.">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <!-- Disable tap highlight on IE  -->
    <meta name="msapplication-tap-highlight" content="no">
    <title>TYA</title>

    <link href="static/style.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>

    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="./index.html" title="">01 : Home</a></li>
                        <li><a href="./works.html" title="">02 : Works</a></li>
                        <li><a href="./about.html" title="">03 : About me</a></li>
                        <li><a href="./contact.html" title="">04 : Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-container-spacer text-center">
                        <h1 class="h2">03 : About me</h1>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <h3>Young Tech Enthusiast</h3>
                                    <p>Hello! I'm Taha Yasser Adnan, a 16-year-old Python developer from Morocco with a burning passion for technology and mathematics. My journey in programming began with Python, and I've been fascinated by its potential to solve real-world problems ever since.</p>

                                    <h3>Driven by Purpose</h3>
                                    <p>What truly motivates me is creating projects that make a difference in people's daily lives. The tech world's endless possibilities fuel my enthusiasm, often finding me happily coding for hours on end. I believe in the power of open-source collaboration and actively seek opportunities to contribute to the community.</p>

                                    <h3>Continuous Learning Journey</h3>
                                    <p>As a young developer, I embrace the philosophy of continuous learning. Every day presents new opportunities to expand my knowledge and improve my skills. My combination of technical curiosity and problem-solving abilities drives me to explore innovative solutions and push my boundaries in software development.</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <img src="static/assets/images/pfp.png" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <footer class="footer-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>© TYA 2024-2025</p>
                </div>
            </div>
        </div>
    </footer>

    <script>
    document.addEventListener("DOMContentLoaded", function(event) {
        navActivePage();
    });
    </script>

    <script type="text/javascript" src="static/script.js"></script>
</body>

</html>